html, body {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}
footer {
    position: relative;
    text-align: center;
    padding: 50px;
    background-color: #0433ff;
    color: #fff;
}
.block {
    word-break: break-word;
    border: 2px solid #ccc;
    padding: 11px;
    width: 80%;
    margin: 6px 10%;
    font-family: Arial, sans-serif;
}

.container {
    min-height: calc(85vh);
}

.informations {
    color: #2b9f2b;
    display: block;
    font-size: 16px;
    width: fit-content;
    padding: 3px;

}

.green {
    color: #9fff04;
    font-family: monospace;
    font-weight: 900;
    font-size: 16px;
}

.blue {
    color: #0433ff;
}

cite {
    font-style: inherit;
}

#temporary-html {
    display: none;
}

.result {
    padding: 25px;
    position: relative;

}

.result li {
    display: block;
    margin-bottom: 8px;
}

.result li a {
    display: block;
    font-size: 25px;
    text-decoration: none;
}

.wiki {
    color: #484747;

}

.result img {
    width: 250px;
    height: auto;
}

.application {
    background-color: rgb(246 246 246);
    width: 80%;
    margin: 0 10%;
    border-radius: 0 0 14px 14px;
    padding: 31px 10px 31px 10px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.application form select {
    height: 43px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: 600;
    max-width: 150px;
    color: #373636;
}

.application form input#qt {
    width: 35px;
    height: 25px;
}

.application form input#us {
    width: 50%;
    height: 40px;
    padding: 0 14px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: 900;
    font-family: Georgia, sans-serif;
    font-size: 1em;
}

.application button {
    height: 40px;
    background-color: #598bd1;
    border: none;
    padding: 7px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 4px;
}

.application label[for='us'] {
    font-size: 18px;
}

#sfor {
    display: block;
    text-align: center;
    margin: 4px 0 0 0;
    font-weight: 600;
    color: #4e4a4a;
}

#warnings {
    background-color: #e6856b;
    color: #fff;
    padding: 11px;
    width: 50%;
    font-weight: 700;
    display: none;
    margin: 5px 25%;
    text-align: center;
    border-radius: 4px;
}

#deep-search, #find-imagens {
    width: 80%;
    height: 120px;
    background-color: red;
    display: none;
    overflow: scroll;
}

#find-imagens {
    background-color: green;
}

div.wiki:first-letter {
    text-transform: uppercase;
}

/* QUERIS */
@media (max-width: 600px) {
    .application {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    label[for='qt'], input#qt {
        display: none;
    }


    .application form input#us {
        width: 80%;
        margin: 0 10% 2px 10%;
        padding: 20px 5px;
        box-sizing: border-box;

    }

    .centralise {
        text-align: center;
        display: block;
    }
}